  <%= link_to('Login', new_user_session_path)  %>  
</br>
</br>
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
</br>
   <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= current_user.inspect %>